@{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

}
@*<div class="container pt-5">
    <button id="employeeListBtn" class="btn-primary btn">Employee List</button>
</div>
*@

<div class="container pt-5">
    <a href="/Home/CreateEmployee" id="employeeListBtn" class="btn-success btn">Create New Employee</a>
</div>



<table class="table mt-5 container d-none" id="EmployeeListTable" data-page-length="2">
    <thead>
        <tr>
            
            <th>
                First Name
                 
            </th>
           
            <th>
                Last Name
               
            </th>
            
            <th>
                Employee ID
                
            </th>
             
             <th>
                City 
                 
            </th>
            
             <th>
                Department
                 
            </th>
            
             <th>
                Joining Date 
                 
            </th>

             <th>
                Action 
                 
            </th>
            
        </tr>
    </thead>
    <tbody class="mainBody employeeListTableBody">

        <tr>
            <td>
                First_Name
            </td>
            <td>
                Last_Name
            </td>
            <td>
                Employee_Id
            </td>
            <td>
                City
            </td>
            <td>
                Department_Name
            </td>
            <td>
                Joining_Date?.ToString("yyyy-MM-dd")
            </td>
           
        </tr>

    </tbody>
</table>
<div class="modal fade" id="DeleteMsgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hiddenId" value=""/>
                <h5>Are you sure you want to delete this item?</h5>
            </div>
            <div class="modal-footer modalfooterfordelete">
                <button type="button" class="btn cancelBtn" data-bs-dismiss="modal">Cancel</button>
                
                    
                     <button type="submit"  id="DeleteBtn" class="btn DeleteEmployeeBtn">Delete</button>
                
               
           

            </div>
        </div>
    </div>
</div>



<script>
    $.ajax({
  url: '@Url.Action("SetSession","Home")',
  method: 'POST',
  data: { token: localStorage.getItem('token') },
  success: function(response) {
    // Session value set successfully
  },
  error: function(error) {
    // Handle any errors
  }
});
    $(document).ready(function(){
        
             var token = localStorage.getItem("token");
             
            $.ajax({
  url: `https://localhost:7085/employee`,
  method: 'GET',
   headers: {
        'Authorization': 'Bearer ' + token // Include the JWT token in the authorization header
      },
 
  success: function(response) {
    // Handle the success response
    $("#EmployeeListTable").removeClass('d-none');
     var employeeTable = $(".employeeListTableBody");
     
                    // Clear existing rows
                    employeeTable.empty();

                    // Iterate over the data array
                    $.each(response.item, function (index, employee) {
                        // Create a new row
                        var row = $("<tr>");

                        // Populate the row with employee data
                        var date = new Date(employee.joining_Date).toLocaleDateString();
                        
                        row.append($("<td>").text(employee.first_Name));
                        row.append($("<td>").text(employee.last_Name));
                        row.append($("<td>").text(employee.employee_Id));
                        row.append($("<td>").text(employee.city));
                        row.append($("<td>").text(employee.department_Name));
                        row.append($("<td>").text(date));
                        
                        row.append($("<td>").html('<a /*class="btn editBtn-' + employee.id + '"*/ href="editEmployee?id=' + employee.id + '"><i class="btn bi bi-pencil-square"></i></a>' +
            ' <button type="button" data-delete-id="' + employee.id + '" class="btn deletebtn"><i class="bi bi-trash"></i></button>'));


                        // Append the row to the table
                        employeeTable.append(row);
                    });
  },
  error: function(xhr, status, error) {
    // Handle the error response
   console.log("error while retriving result")
  }
});
        
    })
    $(document).ready(function(){
        $(document).delegate('.editBtn-1','click',function(){
            console.log("click");
        })
    })



    $(document).ready(function () {
    $(document).delegate('.deletebtn', 'click', function () {
        var row = $(this).closest("tr");
        
        var btnId = $(this).data("delete-id")
        var token = localStorage.getItem("token");
        
        $("#hiddenId").val(btnId)
        $("#DeleteMsgModal").modal("show")
        $("#DeleteBtn").on('click', function () {
            $.ajax({
                type: "GET",
                url: `https://localhost:7085/DeleteEmployee?id=${btnId}`,
                 headers: {
        'Authorization': 'Bearer ' + token // Include the JWT token in the authorization header
      },
                data: { id: btnId },
                success: function (data) {
                    $("#DeleteMsgModal").modal("hide")
                    row.remove();
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error: Unable to retrieve search results.");
                    console.log("Status: " + textStatus);
                    console.log("Error: " + errorThrown);
                }
            })
        })

    })
})
</script>